In [2]:
import pandas as pd

In [3]:
from collections import Counter

In [4]:
import regex as re

In [5]:
import nltk

In [6]:
file = '../data/un-general-debates/un-general-debates-blueprint.csv'

In [7]:
df = pd.read_csv(file)

In [8]:
df.head()

,session,year,country,country_name,speaker,position,text
0,25,1970,ALB,Albania,Mr. NAS,NaN,33: May I first convey to our President the co...
1,25,1970,ARG,Argentina,Mr. DE PABLO PARDO,NaN,177.\t : It is a fortunate coincidence that pr...
2,25,1970,AUS,Australia,Mr. McMAHON,NaN,100.\t It is a pleasure for me to extend to y...
3,25,1970,AUT,Austria,Mr. KIRCHSCHLAEGER,NaN,155.\t May I begin by expressing to Ambassado...
4,25,1970,BEL,Belgium,Mr. HARMEL,NaN,"176. No doubt each of us, before coming up to ..."

In [9]:
df['len'] = df['text'].str.len()

In [10]:
df.describe()

           session         year           len
count  7507.000000  7507.000000   7507.000000
mean     49.610763  1994.610763  17967.281604
std      12.892155    12.892155   7860.038463
min      25.000000  1970.000000   2362.000000
25%      39.000000  1984.000000  12077.000000
50%      51.000000  1996.000000  16424.000000
75%      61.000000  2006.000000  22479.500000
max      70.000000  2015.000000  72041.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   session       7507 non-null   int64
 1   year          7507 non-null   int64
 2   country       7507 non-null   object
 3   country_name  7507 non-null   object
 4   speaker       7480 non-null   object
 5   position      4502 non-null   object
 6   text          7507 non-null   object
 7   len           7507 non-null   int64
dtypes: int64(3), object(5)
memory usage: 469.3+ KB

In [12]:
len(df['country'].unique())

199

In [13]:
df.isnull().astype(int).sum()

session            0
year               0
country            0
country_name       0
speaker           27
position        3005
text               0
len                0
dtype: int64

In [14]:
min_df = 2

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   session       7507 non-null   int64
 1   year          7507 non-null   int64
 2   country       7507 non-null   object
 3   country_name  7507 non-null   object
 4   speaker       7480 non-null   object
 5   position      4502 non-null   object
 6   text          7507 non-null   object
 7   len           7507 non-null   int64
dtypes: int64(3), object(5)
memory usage: 469.3+ KB

In [16]:
def tokenize(text):
    return re.findall(r'[\w-]*\p{L}[\w-]*', text)

In [42]:
stopwords = set(nltk.corpus.stopwords.words('english'))

In [44]:
def remove_stop(tokens):
    return [t for t in tokens if t.lower() not in stopwords]

In [19]:
pipeline = [str.lower, tokenize, remove_stop]

In [20]:
def prepare(text, pipeline):
    tokens = text
    for transform in pipeline:
        tokens = transform(tokens)
    return tokens

In [28]:
# counter = Counter(tokenize("You want from collections import Counter. Using import collections only makes the stuff in collections available as collections.something. More on modules and the workings of import in the first few sections of this tutorial chapter."))

In [30]:
counter = Counter()

In [34]:
def update(doc):
    tokens = doc
    counter.update(set(doc))

In [46]:
df['tokens'] = df['text'].apply(prepare, pipeline=pipeline)

In [54]:
df['tokens'].head()

0    [may, first, convey, president, congratulation...
1    [fortunate, coincidence, precisely, time, unit...
2    [pleasure, extend, mr, president, warmest, con...
3    [may, begin, expressing, ambassador, hambro, b...
4    [doubt, us, coming, rostrum, wonders, usefulne...
Name: tokens, dtype: object

In [50]:
df['num_tokens'] = df['tokens'].map(len)

In [52]:
df['num_tokens'].describe()

count    7507.000000
mean     1480.276142
std       635.186356
min       187.000000
25%      1005.500000
50%      1358.000000
75%      1848.000000
max      5688.000000
Name: num_tokens, dtype: float64

In [56]:
counter = Counter()

In [64]:
df['tokens'].map(counter.update)

0       None
1       None
2       None
3       None
4       None
        ...
7502    None
7503    None
7504    None
7505    None
7506    None
Name: tokens, Length: 7507, dtype: object

In [60]:
print(counter.most_common(5))

[('nations', 124508), ('united', 120763), ('international', 117223), ('world', 89421), ('countries', 85734)]