In [2]:
import pandas as pd

In [4]:
!pwd

/Users/stephenzhou/PycharmProjects/zzstephen/text_analytics/blueprints-text/ch01

In [6]:
file = '../data/un-general-debates/un-general-debates.csv'

In [8]:
df = pd.read_csv(file)

In [10]:
df.head()

   session  year country                                               text
0       44  1989     MDV  ﻿It is indeed a pleasure for me and the member...
1       44  1989     FIN  ﻿\nMay I begin by congratulating you. Sir, on ...
2       44  1989     NER  ﻿\nMr. President, it is a particular pleasure ...
3       44  1989     URY  ﻿\nDuring the debate at the fortieth session o...
4       44  1989     ZWE  ﻿I should like at the outset to express my del...

In [12]:
df['len'] = df['text'].str.len()

In [22]:
df.describe()

           session         year           len
count  7507.000000  7507.000000   7507.000000
mean     49.610763  1994.610763  17967.281604
std      12.892155    12.892155   7860.038463
min      25.000000  1970.000000   2362.000000
25%      39.000000  1984.000000  12077.000000
50%      51.000000  1996.000000  16424.000000
75%      61.000000  2006.000000  22479.500000
max      70.000000  2015.000000  72041.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  7507 non-null   int64
 1   year     7507 non-null   int64
 2   country  7507 non-null   object
 3   text     7507 non-null   object
 4   len      7507 non-null   int64
dtypes: int64(3), object(2)
memory usage: 293.4+ KB

In [30]:
len(df['country'].unique())

199

In [44]:
df.isnull().astype(int).sum()

session    0
year       0
country    0
text       0
len        0
dtype: int64